/* ESTILOS GERAIS */
html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.coluna {
    flex-basis: 49%;
}

:root{
    --corBackgroundHeaderFooter: #04133d;
    --corBackgroundDark: #0e0e0e;
    --corTextPrimario: #636363;
    --corTextSec: #000;
    --animationColor: #d4e9ff;
}

.hidden {
    display: none;
}






/*BODY*/
body {
    font-family: 'Open Sans', sans-serif;
}





/*HEADER*/
header {
    background-color: var(--corBackgroundHeaderFooter);
    padding: 30px 30px 0;
}

header .container{
    background-color: white;
}

header .linha {
    align-items: center;
}

header .coluna-esquerda{
    flex-basis: 30%;
}
header .coluna-direita{
    flex-basis: 60%;
    text-align: center;
}

header .coluna img {
    max-width: 100%;

}
header .coluna h1 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--corTextSec);
}
header .coluna p {
    font-size: 1rem;
    color: var(--corTextPrimario);
    text-align: center;
}
header .coluna ul {
    margin: 16px 0 0 ;
    padding: 0 30px;
    text-align: left;
}
header .coluna ul li {
    margin: 0 0 12px;
}
header .coluna ul li a {
    font-size: 1rem;
    color: var(--corTextSec);
}




/*FOOTER*/
footer {
    background-color: var(--corBackgroundHeaderFooter);
}
footer .container {
    background-color: var(--corBackgroundHeaderFooter);
    padding: 30px;
}

footer nav ul li a {
    color: white;
}

footer nav .info-contato li {
    margin: 0 0 15px;
}

footer nav .redes-sociais {
    border-top: 1px solid rgba(255, 255, 255, 0.733);
    margin: 20px 0 50px;
    padding: 50px;
    text-align: center;
}

footer nav .redes-sociais li {
    margin: 15px 25px;
    text-align: center;
    display: inline-block;
}

footer nav .redes-sociais li a img {
    width: 40px;
}

footer nav .redes-sociais li a:hover img{
    transform: scale(1.2) translateY(-10px);
}





/*PAGINA INICIAL*/

main .coluna {
    padding: 30px;
}

main .coluna-direita{
    padding-top: 0;
}
main .coluna-esquerda{
    padding-bottom: 0;
}
main .coluna section {
    border-bottom: 1px solid #d4e9ff;
    margin: 0 0 20px;
    min-height: 205px;
    color: var(--corTextSec);
}
main .coluna section h2 {
    font-size: 1.3rem;
    margin: 0 0 15px;
}
main .coluna section p {
    font-size: 0.9rem;
    color: var(--corTextPrimario);
    line-height: 1.5;
}

main .coluna section ul li {
    margin: 0 0 12px;
}
main .coluna section ul li h3 {
    font-size: 1.1rem;
}
main .coluna section ul li strong {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 5px 0 10px;
    display: inline-block;
}





/*EXTRAS - DARK MODE*/
input{
    width: 50px;
    height: 50px;
    display: none;
}

header .container{
    position: relative;
}

label{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 52px;
    height: 30px;
    background-color: var(--corBackgroundHeaderFooter);
    border-radius: 20px;
    padding: 5px 5px;
    box-sizing: border-box;
    cursor: pointer;
}
label span{
    width: 20px;
    height: 20px;
    display: block;
    background-color: #fff;
    border-radius: 100%;
    transition: .5s;
}

.activate-dark:checked ~ .dark-mode label{
    background-color: #fff;
}
.activate-dark:checked ~ .dark-mode label span{
    background-color: var(--corBackgroundHeaderFooter);
    /* margin-left: 20px; */
    transform: translateX(20px);
    transition: all ease .5s;
}
.activate-dark:checked{
    display: none;
}
.activate-dark:checked ~ .dark-mode{
    --corBackgroundHeaderFooter: #000;
    --corTextPrimario: #fff;
    --corTextSec: #fff;
}
.activate-dark:checked ~ .dark-mode main {
    background-color: var(--corBackgroundHeaderFooter);
}
.activate-dark:checked ~ .dark-mode header {
    background-color: var(--corBackgroundHeaderFooter);
}
.activate-dark:checked ~ .dark-mode header .container {
    background-color: var(--corBackgroundDark);
}
.activate-dark:checked ~ .dark-mode .container{
    background-color: var(--corBackgroundDark);
}

@keyframes largura{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes altura{
    from{
        height: 0;
    }
    to{
        height: 100%;
    }
}







/*@MEDIA*/
@media only screen and (min-width: 768px){
    .linha {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    footer nav .redes-sociais {
        display: flex;
        justify-content: center;

    }

    header {
       padding: 30px 0 0;
    }

    header .coluna img {
        max-width: 250px;
        border-radius: 100%;
    }

    .container {
        background-color: white;
        width: 100%;
        max-width: 1125px;
        margin: 0 auto;
        padding: 30px;
    }

    header .coluna-direita{
        text-align: left;
        flex-basis: 60%;
    }

    header .coluna h1 {
        text-align: left;
        padding: 0 30px;
    }
    header .coluna p {
        text-align: left;
        padding: 0 30px;
    }

    header .coluna ul {
        margin: 16px 0 0 ;
    }

    main .coluna {
        padding: 0;
    }
    main .coluna section {
        /* border: 2px solid #d4e9ff; */
        border: 1px solid transparent;
        padding: 20px;
        position: relative;
    }
    main .coluna section span{
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border: 1px solid transparent;
    }
    main .coluna section .topo-direita{
        top: -2px;
        left: -2px;
        animation-name: largura, altura;
        animation-duration: 1s, 1s;
        animation-delay: 0s, 1s;
        animation-fill-mode: forwards;
        border-top-color: var(--animationColor) ;
        border-right-color: var(--animationColor) ;
    }
    main .coluna section .baixo-esquerda{
        bottom: 0;
        right: 0;
        animation-name: largura, altura;
        animation-duration: 1s, 1s;
        animation-delay: 2s, 3s;
        animation-fill-mode: forwards;
        border-bottom-color: var(--animationColor) ;
        border-left-color: var(--animationColor) ;
    }

    footer nav .redes-sociais li {
        margin: 0 14px;
        text-align: center;
        display: initial;
    }
}

@media only screen and (min-width: 992px){
    header .coluna-direita{
        flex-basis: 70%;
    }

}